body{
    margin: 0;
    padding: 0;
}
.header-part{
    display: flex;
    align-items: center;

}
.header-left-side{
    width: 50%;
    padding-left: 60px;
    margin-left: 50px;
}
.header-right-side{
    width: 50%;
}
.resize{
    width: 90%;
}
.heading{
    font-size: 60px;
}
.text-color{
    color: #FCA060;
}
.quote{
    font-size: 25px;
    margin-bottom: 60px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(#FE4D30,#FC924A);
    padding: 34px 96px;
    border-radius: 50px;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
}

.about-section{
    background-image: url(../images/Frame\ 58.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    display: flex;
}
.img-part{
    width: 50%;
    padding-left: 50px;
}
.about{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.person-resize{
    height: 100%;
}
.button{
    width: 200px;
    height: 70px;
    border: 0;
    background: linear-gradient(#FE4D30,#FC924A);
    border-radius: 50px;
    margin-top: 20px;
}
.my-recipe-heading h1{
    font-size: 40px;
    text-align: center;
}
.my-recipe-heading{
    font-size: 20px;
    text-align: center;
}
.my-recipe-heading{
    width: 600px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.about-txt{
    font-size: 40px;
}
.quote-2{
    font-size: 20px;
    text-align: justify;
    padding-right: 60px;
}
.recipe-area{
    display: flex;
    justify-content: space-around;
}
.card-1{
    width:610px;
    height: 562px;
    text-align: center;
    padding: 30px;
    box-shadow: 11px 15px 39px -8px rgba(102,102,102,0.91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.card-content img{
    width: 550px;
    height: 308px;
}
.card-content p{
    font-size: 20px;
}
.wrapper{
    width: 600px;
    height: 200px;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    box-shadow: 11px 15px 39px -8px rgba(102,102,102,0.91);
    align-items: center;
    padding:  0 50px;
    border-radius: 5px;
}